@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Open+Sans+Condensed:wght@300&display=swap");

body {
  font-family: "Open Sans Condensed";
  padding: 20px 80px;
}

a {
  text-decoration: none;
  color: #000;
}
